
body{
    position: relative;
    width: 430px;
    height: 932px;
    
    background: #D0CECE;  
    
    
}

h2.logo{
    position: relative;
    width: 169px;
    height: 23px;
    left: 131px;
    top: 78px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 16px;

    color: #A48C8C;
    -webkit-text-stroke: 1px #1D1B20;
}
