
body{
    position: relative;
    
    
    background: #D0CECE; 

    
}

h2.logo{
    text-align: center;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 16px;

    color: #A48C8C;
    -webkit-text-stroke: 1px #1D1B20;
}
h2.title{
    position: absolute;
    width: 199px;
    height: 39px;
    left: 30px;
    top: 152px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 16px;
    /* または50% */
    
    color: #A48C8C;
    
    -webkit-text-stroke: 1px #725959;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
