body {
    background-color: #b0bec5; /* グレー系の背景色 */
    font-family: Arial, sans-serif; /* フォント */
    color: #5d4037; /* テキストカラー */
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    background-color: #d7ccc8; /* カードの背景色 */
    width: 300px; /* カードの幅 */
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* 影をつけて立体感を演出 */
    text-align: center;
}
.card h1 {
    font-size: 24px;
    color: #6d4c41; /* 落ち着いた茶色 */
    margin-bottom: 20px;
    font-weight: bold;
}
.button {
    background-color: #795548; /* 茶色 */
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    margin: 10px 0;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #5d4037; /* ホバー時に少し濃い色 */
}
.input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #bdbdbd; /* 薄いグレー */
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 16px;
    box-sizing: border-box;
}
.label {
    font-size: 14px;
    color: #6d4c41; /* 落ち着いた色 */
    display: block;
    margin-bottom: 5px;
}
.checkbox-label {
    font-size: 14px;
    color: #5d4037;
    display: inline-block;
}

.link {
    color: #5d4037;
    text-decoration: none;
    font-size: 14px;
}

.link:hover {
    text-decoration: underline;
}
